body{
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: relative;
  background: #E9F0FF;
  border-radius: 3px 0px 0px 0px;
}  


#header {
  width: 300px;
  height: 15%;
  background: #D1E1F9;
  border-radius: 3px;
  order: 0;
  flex-grow: 0;
  padding: 2px 2px 2px 2px ;
  flex-direction: column;
  align-items: flex-start;
}


img {
  height: 15px;
  width: 15px;
  padding: 0px;
}

.contain {
  object-fit: contain;
}

.hide{
  visibility: hidden;
  position:absolute;
  transition: all 0.2s ease-out;
}

#content {
  width: 300px;
  height: 60%;
  background: #D1E1F9;
  mix-blend-mode: normal;
  border-radius: 7px;
  padding: 2px 2px 2px 2px ;
  flex: none;
  order: 1;
  flex-grow: ;
  overflow: auto;
}

#footer {
  width: 300px;
  height: 15%;
  background: #D1E1F9;
  padding: 2px 2px 2px 2px ;
  flex: none;
  order: 2;
  flex-grow: 0;  
}
